<div class="container-fluid">
	<div class="col-md-12">
		<h2>订单列表</h2>
		<table class="table">
			<thead>
				<tr>
					<td>#</td>
					<td>生成时间</td>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => "order_list", :collection => @orders, :as => :order %>
			</tbody>
		</table>
	</div>
</div>