<div class="category-page-container">
	<div class="category-page-top">
		<%= image_tag("book-back.jpg", class: "width: 100%; height: auto;") %>
	</div>
	<div class="category-page-show">
		<%= render :partial => "book_item", :collection => @books, :as => :book %>
	</div>
</div>