<div class="container-fluid">
	<div class="col-md-2 pull-right side-bar">
		<ul class="nav nav-pills nav-stacked">
			<li><%= link_to("新增商品", new_admin_product_path, class: "btn btn-primary") %></li>
		</ul>
	</div>
	<div class="col-md-8 col-md-offset-2"> 
		
	</div>
</div>