*{
	box-sizing: border-box;
}

footer{
	width: 100%;
	text-align: center;
	position: relative;
	bottom: 0;
}

nav{
	background-color: rgb(35, 47, 62);
	margin-bottom: 0;
}

#navbar-title{
	color: white;
}

#navbar-list{
	color: white;
	position: absolute;
	right: 5%;
}

#navbar-list-item-3{
	color: white;
}

#navbar-list-item-3:hover{
	background-color: rgb(35, 47, 62);
}

#navbar-list-item-1{
	color: white;
}

#navbar-list-item-1:hover{
	background-color: rgb(35, 47, 62);
}

#navbar-list-item-2{
	color: white;
}

#navbar-list-item-2:hover{
	background-color: rgb(35, 47, 62);
}


.side-bar{
	position: absolute;
	right: 0;
}

.product-item{
	display: inline-block;
	width: 30%;
	margin: 5px;
	padding: 5px;
}

.product-item:hover{
	border: 1px solid red;
}

.product-image{
	width: 100%;
	heigth: auto;
}

.search-bar{
	display: inline-block;
	width: 50%;
	position: absolute;
	top: 9px;
	left: 15%;
}

.mySlide{
	display: none;
}

.slideshow-container{
	max-width: 1000px;
	position: relative;
	margin: 0;
}

/* Number text */
.numberText{
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* Caption text */
.text{
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Prev & Next  */
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: background-color 0.6s ease;
	text-decoration: none;
}

.next{
	right: 0;
}

.prev:hover, .next:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

.dot{
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active-slide, .dot:hover{
	background-color: #717171;
}

/*.fade{
	-webkit-animation-name: fade;
  	-webkit-animation-duration: 1.5s;
  	animation-name: fade;
  	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade{
	from {opacity: .4}
	to {opacity: 1;}
}

@media only screen and (max-width: 300px){
	.prev, .next, .text{
		font-size: 11px;
	}
}*/

.favor-button-full{
	color: red;
}

.favor-button-empty{
	color: red;
}





