*{
	box-sizing: border-box;
}

html, body{
	height: 100%;
	
	z-index: 1000;
}

footer{
	width: 100%;
	text-align: center;
	position: relative;
	bottom: 0;
	padding-top: 40px;
	background-color: #8b9da9;
}

nav{
	background-color: rgb(35, 47, 62);
	margin-bottom: 0;
}

#navbar-title{
	color: white;
}

#navbar-list{
	color: white;
	position: absolute;
	right: 5%;
}

#navbar-list-item-3{
	color: white;
}

#navbar-list-item-3:hover{
	background-color: rgb(35, 47, 62);
}

#navbar-list-item-1{
	color: white;
}

#navbar-list-item-1:hover{
	background-color: rgb(35, 47, 62);
}

#navbar-list-item-2{
	color: white;
}

#navbar-list-item-2:hover{
	background-color: rgb(35, 47, 62);
}


.side-bar{
	position: absolute;
	right: 0;
}

.product-item{
	display: block;
	float: left;
	max-width: 325px;
	margin: 5px;
	padding: 5px;
}

.product-item:hover{
	border: 1px solid red;
}

.product-image{
	width: 100%;
	heigth: auto;
}

.search-bar{
	display: inline-block;
	width: 50%;
	position: absolute;
	top: 9px;
	left: 15%;
}

.mySlide{
	display: none;
	width: 100%;
}

.slideshow-container{
	/*max-width: 1000px;*/
	position: relative;
	margin: 0;
	width: 100%;
}

/* Number text */
.numberText{
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* Caption text */
.text{
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Prev & Next  */
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: background-color 0.6s ease;
	text-decoration: none;
}

.next{
	right: 0;
}

.prev:hover, .next:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

.dot{
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active-slide, .dot:hover{
	background-color: #717171;
}

/*.fade{
	-webkit-animation-name: fade;
  	-webkit-animation-duration: 1.5s;
  	animation-name: fade;
  	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade{
	from {opacity: .4}
	to {opacity: 1;}
}

@media only screen and (max-width: 300px){
	.prev, .next, .text{
		font-size: 11px;
	}
}*/

.favor-button-full{
	color: red;
}

.favor-button-empty{
	color: red;
}

.cart-item-count-super{
	vertical-align: super;
	border-radius: 60%;
	background-color: red;
	color: white;
	display: inline-block;
	position: absolute;
	top: 6px;
	text-align: center;
	line-height: 14px;
	font-size: 3px;
	width: 15px;
	height: 15px;
}

#navbar-cart{
	padding-bottom: 10px;
	color: red;
}

#navbar-cart:hover{
	background-color: rgb(35, 47, 62);
}

img.raty-cancel {
     display: none;
}



.review-container{
	background-color: white;
	height: 70%;
	margin-top: 30px;
}

.delivery-review{
	width: 70%;
	margin: auto;
	background-color: white;
	height: 100%;
}

.delivery-review-title{
	width: 28%;
	display: block;
	float: left;
	font-weight: bold;
	margin: 0;
	padding: 15px;
	margin-top: 15px;
}

.delivery-review-content{
	margin: 0;
	width: 72%;
	display: block;
	float: left;
	border-left: 1px solid #F5F5F5;
	padding: 20px;
}

.delivery-review-item{
	float: left;
	margin: auto;
	width: 30%;
}

.delivery-review-item:first-child{
	margin-left: 20px;
}

.clearfix {
    overflow: auto;
}

.quality-review{
	margin-top: 30px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	height: 100%;
	clear: left;
}

.quality-review-title{
	width: 28%;
	display: block;
	float: left;
	margin: 0;
	padding: 15px;
	margin-top: 15px;
	text-align: center;
	border-right: 1px solid #F5F5F5;
}

.quality-review-content{
	margin: 0;
	width: 72%;
	display: block;
	float: left;
	border-left: 1px solid #F5F5F5;
	padding: 20px;
}

.quality-review-stars{
	padding-left: 20px;
}

.quality-review-text{
	
}

.quality-review-text-input{
	width: 70%;
}

.text-review{
	margin-top: 30px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	height: 100%;
	clear: left;
}

.text-review-title{
	width: 28%;
	display: block;
	float: left;
	font-weight: bold;
	padding: 15px;
}

.text-review-input{
	width: 72%;
	display: block;
	float: left;
	padding: 15px;
	border-left: 1px solid #F5F5F5;
}

.text-review-submit-container{
	width: 20%;
	margin: auto;
}

.text-review-submit{
	display: block;
	background-color: white;
	padding: 20px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -50px;
	margin-bottom: 20px;
	text-align: center;
	padding: 30px;
}

.review-header{
	background-color: #FAFAFA;
	border: 1px solid #dee2e8;
	font-size: 18px;
	color: #666666;
	padding: 10px;
	width: 70%;
	margin: auto;
}

.review-select{
	text-align: center;
	border: 1px solid #dee2e8;
	margin-top: 30px;
	margiin-bottom: 20px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

ul.review-bar{
	list-style-type: none;
	background-color: #FAFAFA;
	margin-bottom: 0;
}

li.review-item{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.review-category{
	color: #6f737a;
	text-decoration: none;
}

.review-category:hover{
	text-decoration: none;
	color: red;
}

.comment-container{
	margin-top: 30px;
}

.comment-item{
	width: 70%;
	margin: auto;
	background-color: white;
}

.comment-left{
	width: 25%;
	display: block;
	float: left;
	padding: 15px;
}

.comment-text{
	width: 50%;
	display: block;
	float: left;
	padding: 15px;
}

.comment-user-column{
	width: 25%;
	display: block;
	float: left;
	padding: 15px;
}

.comment-h-line{
	clear: left;
	margin-top: 20px;
}

.comment-message{
	margin-top: 5px;
}

.comment-title{
	margin-top: 5px;
}

.review-percent{
	width: 70%;
	margin: auto;
	padding: 20px;
}

.good-percent-big{
	width: 30%;
	display: inline-block;
	padding-bottom: 10px;
}

.good-percent-number{
	font-size: 40px;
	color: red;
}

.percent-bar{
	width: 65%;
	display: inline-block;
}

.bar-container{
	width: 80%;
}

.bar-text{
	width: 20%;
	display: inline-block;
}

.bar-border{
	display: inline-block;
	background-color: #FAFAFA;
	height: 15px;
	width: 30%;
	padding: 0;
}

.bar-content{
	display: inline-block;
	background-color: red;
	height: 100%;
}

.change-quantity-container{
	border: 1px solid #dee3ea;
	text-align: center;
	margin-right: 8px;
}

.plus-one{
	display: inline-block;
	width: 25%;
	border-right: 1px solid #dee3ea;
}

.minus-one{
	display: inline-block;
	width: 25%;
	border-left: 1px solid #dee3ea;
	text-align: center;
}

.cart_item_quantity{
	display: inline-block;
	width: 35%;
	text-align: center;
}

.one-chara{
	color: #3a3d42;
}

.one-chara:hover{
	text-decoration: none;
}

.cart-item-operation{
	color: #515760;
	font-size: 5px;
}

.cart-item-operation:hover{
	text-decoration: none;
	color: red;
}

.empty-cart-container{
	width: 50%;
	margin: auto;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 100px;
}

.cart-image{
	display: inline-block;
	width: 15%;
}

.empty-cart-message{
	display: inline-block;
	width: 40%;
}

div.zoom {
  position: relative;
  width: 500px;
  overflow: hidden;
  cursor: zoom-in;
  background-image: url(/assets/big-star.png);
  --bg-x: 50%;
  --bg-y: 50%;
  background-position: var(--bg-x) var(--bg-y);
  background-size: cover;
  width: 300px;
  height: 300px;
}

div.zoom .show-image{
  transition: opacity .5s;
  display: block;
  width: 100%;
}   

div.zoom img:hover { opacity: 0; }

.land-category-row{
	display: block;
	width: 90%;
	margin: auto;
}

.land-category-column{
	/*display: inline-block;*/
	/*width: 23%;*/
	display: block;
	float: left;
	max-width: 300px;
	margin: auto;
	height: 490px;
	margin-right: 10px;
	
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.land-category-column:hover{
	box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
	/*background-color: red;*/
	background: linear-gradient(0deg, #3a8e89, #135652);
}

.land-log-in-column{
	position: relative;
	top: 78px;
	height: 498px;
	background: linear-gradient(0deg, #b6bdc6, #757a82);
}

.land-category-image{
	width: 100%;
	height: auto;
	z-index: -1;
}

.land-sign-in-button{
	padding: 50px;
	margin: auto;
	width: 90%;
}

.land-category-caption{
	text-align: center;
	color: #49ccc3;
}

.product-category-container{
	width: 100%;
	margin: auto;
}

.product-category{
	width: 100%;
	margin: 0;
	padding: 30px;
}

.category-1{
	background-color: #aab8c1;
}

.category-2{
	background-color: #5d6b75;
}

.product-category-title{
	text-align: center;
}

.product-category-show{
	margin: 0;
	width: 100%;
	margin: auto;
}

.product-price{
	color: red;
	font-size: 25px;
}

.product-category-image-item{
	width: 23%;
	display: inline-block;
	margin: 5px;
}

.product-category-title-link{
	color: black;
}

.product-category-title-link:hover{
	text-decoration: none;
	color: red;
}

.category-page-container{
	width: 100%;
}

.category-page-top{
	width: 100%;
	margin: auto;
}

.product-show-container{
	width: 70%;
	margin: auto;
}
.product-show-image{
	display: inline-block;
	width: 40%;
	position: relative;
	top: 0px;
}

.product-show-text{
	width: 20%;
	display: inline-block;
	margin: left;
	padding: 10px;
	height: 207px;
}

.product-show-title{
	font-weight: bold;
	font-size: 20px;
}

.product-show-price{
	color: red;
	font-size: 15px;
	margin-top: 70px
}

.sign-in-container{
	width: 40%;
	margin: auto;
}

.welcome-container{
	background-color: #fff6e4;
	padding-bottom: 30px;
}

