*{
	box-sizing: border-box;
}

footer{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
}

nav{
	background-color: rgb(35, 47, 62);
}

#navbar-title{
	color: white;
}

#navbar-list{
	color: white;
	position: absolute;
	right: 5%;
}

#navbar-list-item-3{
	color: white;
}

#navbar-list-item-3:hover{
	background-color: rgb(35, 47, 62);
}

#navbar-list-item-1{
	color: white;
}

#navbar-list-item-1:hover{
	background-color: rgb(35, 47, 62);
}

#navbar-list-item-2{
	color: white;
}

#navbar-list-item-2:hover{
	background-color: rgb(35, 47, 62);
}


.side-bar{
	position: absolute;
	right: 0;
}

.product-item{
	display: inline-block;
	width: 30%;
	margin: 5px;
	padding: 5px;
}

.product-item:hover{
	border: 1px solid red;
}

.product-image{
	width: 100%;
	heigth: auto;
}

.search-bar{
	display: inline-block;
	width: 50%;
	position: absolute;
	top: 9px;
	left: 15%;
}



