<div class="container">
	<%= render "common/slideImage" %>
	<div class="col-md-12"> 
		<%= render :partial => "product_item", :collection => @products, :as => :product %>
	</div>
	<img src="https://www.wired.com/wp-content/uploads/2016/04/amazon-a-logo-660x330.jpg">
</div>